

<nav class="navbar nav-heading navbar-expand-md  fw-bold bg-dark navbar-dark">

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" roterLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="userList">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sign-up" routerLinkActive="active">SignUp</a>
      </li>
    </ul>


  </div>
</nav>