<main>


    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-6 mt-4 ">
                <div class="card ">

                    <div class="card-body">
                        <h1 class="card-title mt-4 mb-3">Our Contacts</h1>
                        <p class="card-text mt-4 mt-4">Give us a call or drop by anytime, we endeavour<br>
                            to answer all enquiries within 24 hours on business days.
                            <br>We will be happy to answer your questions.
                        </p>

                        <div class="hii container-fluid">
                            <div class="row mt-4">
                                <div class="col-md-2 col-sm-1 col-xs-1 mt-4">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10 col-sm-11 col-xs-11 mb-2 ">
                                    <p class="text-black"><b>OUR PHONES:</b></p>

                                    <p class="text-black">+91 9876246157</p>
                                </div>
                            </div>
                            <hr>

                            <div class="row mb-3 mt-4">
                                <div class="col-md-2 col-sm-1 col-xs-1  ">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10 col-sm-11 col-xs-11">
                                    <p class="text-black"><b> OUR MAILBOX:</b></p>
                                    <p class="text-black"> techieminds@gmail.com</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6  form">
                <h2 class="mt-4 text-black " style="color:antiquewhite">REACH OUT TO US FOR ANY QUERIES </h2>



                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Name">
                    <label for="floatingInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Mobile number">
                    <label for="floatingInput">Mobile Number</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="textarea" class="form-control" placeholder="requirements" id="floatingTextarea2"
                        style="height: 100px">
                    <label for="floatingTextarea2">Requirements</label>
                </div>
                <div class="container text-center text-black mt-4">
                    <a class="btn">Submit</a>
                </div>


            </div>
        </div>
    </div>
</main>